# Compiled code
/dist/*
/docs/*

# Yarn dependencies
.yarn/*
!.yarn/versions

# Various tooling caches
node_modules
*.tsbuildinfo
.DS_Store

# direnv/devenv config and cache
local.envrc
/.devenv-initialized
/test-results/.last-run.json
/test-results/
