{
  "$schema": "http://json.schemastore.org/swcrc",
  "module": {
    "type": "es6"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "keepClassNames": true
  },
  "env": {
    "targets": "defaults and not IE 11"
  },
  "isModule": true
}
