.ProseMirror {
  border: thin solid black;
  border-radius: 0.25rem;
  padding: 1rem;
  outline: none;
  min-height: 200px;
}

#editor {
  margin: auto;
  width: 80%;
  max-width: 700px;
}

ins {
  background-color: #7aea9f;
  color: #00973c;
}

del {
  color: #9f003e;
  background-color: #ec779c;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
