name: check

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - "**"

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 22.x

      - name: Corepack
        run: corepack enable

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm check:lint

      - name: Format
        run: pnpm check:format

      - name: Types
        run: pnpm check:types

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 22.x

      - name: Corepack
        run: corepack enable

      - name: Install dependencies
        run: pnpm install

      - name: Test
        run: pnpm test
